<!DOCTYPE html>
<html lang="en" class=<%= darkMode ? "dark":"" %>>
  <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/main-nav.ejs') %> <%- include('./includes/aside.ejs') %>
    <main>
      <div class="h-screen p-4 sm:ml-64 dark:bg-gray-900">
        <div
          class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
        >
          <form action="/signup" method="POST" enctype="multipart/form-data">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="first_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >First name</label
                >
                <input
                  type="text"
                  id="first_name"
                  name="first_name"
                  value="<%= oldInput.first_name %>"
                  class="<%= validationErrors.find(e => e.path === 'first_name') ? 'invalid' : 'valid' %>"
                  placeholder="John"
                  required
                />
                <p class="mt-2 text-sm text-red-600 dark:text-red-500 <%= validationErrors.find(e => e.path === 'first_name') ? '' : 'hidden' %>"> Please enter a valid first name.</p>
              </div>
              <div>
                <label
                  for="last_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Last name</label
                >
                <input
                  type="text"
                  id="last_name"
                  name="last_name"
                  value="<%= oldInput.last_name %>"
                  class="<%= validationErrors.find(e => e.path === 'last_name') ? 'invalid' : 'valid' %>"
                  placeholder="Doe"
                  required
                />
                <p class="mt-2 text-sm text-red-600 dark:text-red-500 <%= validationErrors.find(e => e.path === 'last_name') ? '' : 'hidden' %>"> Please enter a valid last name.</p>
              </div>
            </div>
            <div class="mb-6">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Email address</label
              >
              <input
                type="email"
                id="email"
                name="email"
                value="<%= oldInput.email %>"
                class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : 'valid' %>"
                placeholder="john.doe@mail.com"
                required
              />
              <p class="mt-2 text-sm text-red-600 dark:text-red-500 <%= validationErrors.find(e => e.path === 'email') ? '' : 'hidden' %>"> Please enter a valid email address.</p>
            </div>
            <div class="mb-6">
              <label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                for="file_input"
                >Upload file</label
              >
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                aria-describedby="file_input_help"
                id="file_input"
                type="file"
                name="image"
                required
              />
              <p class="mt-2 text-sm text-red-600 dark:text-red-500 <%= errorMessage ? '' : 'hidden' %>"> <%= errorMessage %></p>
              <p
                class="mt-1 text-sm text-gray-500 dark:text-gray-300"
                id="file_input_help"
              >
                PNG, JPG or JPEG.
              </p>
            </div>
            <div class="mb-6">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                value="<%= oldInput.password %>"
                class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : 'valid' %>"
                placeholder="•••••••••"
                required
              />
              <p class="mt-2 text-sm text-red-600 dark:text-red-500 <%= validationErrors.find(e => e.path === 'password') ? '' : 'hidden' %>"> Please enter a password with only numbers and text and at least 8 characters.</p>
            </div>
            <div class="mb-6">
              <label
                for="confirm_password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Confirm password</label
              >
              <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                value="<%= oldInput.confirmPassword %>"
                class="<%= validationErrors.find(e => e.path === 'confirmPassword') ? 'invalid' : 'valid' %>"
                placeholder="•••••••••"
                required
              />
              <p class="mt-2 text-sm text-red-600 dark:text-red-500 <%= validationErrors.find(e => e.path === 'confirm_password') ? '' : 'hidden' %>"> Passwords have to match!</p>
            </div>
            <div></div>
            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  type="checkbox"
                  value=""
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                  required
                />
              </div>
              <label
                for="remember"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >I agree with the
                <a href="#" class="text-blue-600 hover:underline dark:text-blue-500"
                  >terms and conditions</a
                >.</label
              >
            </div>
            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Signup
            </button>
          </form>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  </body>
</html>